﻿@{
    var imagePath = "~/Content/Images/nav_logo.jpg";
    var homePath = "~/Home/";
    var dashPat = "~/";
    string username = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Wilson Parking SG</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wilson Parking SG Carpark Monitoring System">
    <meta name="author" content="[MC] Wilson Parking SG (IT)">

    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" id="favicon"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="~/Content/dataTables.min.css"/>
    <link rel="stylesheet" href="~/Content/selectize.css"/>
    <link rel="stylesheet" href="~/Content/fileinput.css"/>
    <link rel="stylesheet" href="~/Content/metisMenu.min.css"/>
    <link rel="stylesheet" href="~/Content/timeline.css"/> 
    <link rel="stylesheet" href="~/Content/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/highcharts.css"/>
    <link rel="stylesheet" href="~/Content/sb-admin-2.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-toggle.min.css"/>
    <link rel="stylesheet" href="~/Content/Site.css"/>
   

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.debug.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.debug.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-dataTables.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/selectize.js"></script>
    <script src="~/Scripts/fileinput.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/excanvas.min.js"></script>
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery.flot.resize.js"></script>
    <script src="~/Scripts/jquery.flot.time.js"></script>
    <script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Scripts/sb-admin-2.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/script.js"></script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content(dashPat)">
                   <img src="@Url.Content(imagePath)" alt="Wilson Parking" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Content(homePath)#network"><i class="fa fa-server fa-fw"></i>Network</a></li>
                    <li><a href="@Url.Content(homePath)#status"><i class="fa fa-desktop fa-fw"></i>&nbsp;Station</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-exclamation-triangle fa-fw"></i>&nbsp;Alarm&nbsp;<i class="fa fa-caret-down"></i> 
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li> <a href="@Url.Content(homePath)#bad"><i class="fa fa-chain-broken fa-fw"></i>&nbsp;Barrier Arm Drop</a></li>
                            <li> <a href="@Url.Content(homePath)#cpf"><i class="fa fa-cubes fa-fw"></i>&nbsp;Car Park Full</a></li>
                            <li> <a href="@Url.Content(homePath)#df"><i class="fa fa-credit-card-alt fa-fw"></i>&nbsp;Debit Failure</a></li>
                            <li> <a href="@Url.Content(homePath)#pop"><i class="fa fa-print fa-fw"></i>&nbsp;Printer out of Paper</a></li>
                           
                        </ul>
                    </li>
                    <li><a href="@Url.Content(homePath)#space"><i class="fa fa-database fa-fw"></i>Disk Space</a></li>
                    <li><a href="@Url.Content(homePath)#noinfo"><i class="fa fa-user-times fa-fw"></i>&nbsp;No Info</a></li>
                    <li><a href="@Url.Content(homePath)#sync"><i class="fa fa-clock-o fa-fw"></i>Time Sync</a></li>
                    <li><a href="@Url.Content(dashPat)"><i class="fa fa-list-alt fa-fw"></i>Dashboard</a></li>
                    
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                     <li class="text-right"><a href=""><i class="fa fa-user fa-fw"></i>@username</a></li>

                 </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="footer_divider" />
        <div>
            <p class="text-center">&copy; @DateTime.Now.Year Wilson Parking. All rights reserved.</p>
        </div>
    </div>
</body>
</html>