﻿@using CarkparkStationMonitor.Controllers;
@{
   ViewBag.Title = "Dashboard";
   Layout = "~/Views/Shared/_Layout.cshtml";
   var dashCtrlr = (DashboardController)this.ViewContext.Controller;
   var homePath = "~/Home/";
}
<div class="row text-right">
    <h5><span class="label label-info ">Time Generated: @ViewBag.genTime</span></h5>
</div>

<div class="row">
    <div class="col-lg-12" style="margin-bottom:5px">
        <h1 class="page-header text-primary page-header-narrow">Dashboard</h1>
    </div>
</div>
<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-4 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.pmsStat)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-server fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                             <div><span class="badge">@ViewBag.pmsStatNw New</span><span class="huge">@ViewBag.pmsStat</span></div>
                            <div>PMS Network Alerts</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#network">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.stationStat)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-desktop fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.stationStatNw New</span><span class="huge">@ViewBag.stationStat</span></div>
                            <div>Stations Connection Alert</div>
                          
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#status">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.stationAlarmBAD)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-chain-broken fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.stationAlarmBADnw New</span><span class="huge">@ViewBag.stationAlarmBAD</span></div>
                            <div>Barrier Arm Drop</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#bad">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.stationAlarmCPF)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cubes fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.stationAlarmCPFNw New</span><span class="huge">@ViewBag.stationAlarmCPF</span></div>
                            <div>Car Park Full</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#cpf">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.stationAlarmDF)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-credit-card-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                             <div><span class="badge">@ViewBag.stationAlarmDFNw New</span><span class="huge">@ViewBag.stationAlarmDF</span></div>
                            <div>Debit Failure</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#df">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.stationAlarmPOP)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-print fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.stationAlarmPOPNw New</span><span class="huge">@ViewBag.stationAlarmPOP</span></div>
                            <div>Receipt Printer out of Paper</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#pop">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.diskSpace)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-database fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.diskSpaceNw New</span><span class="huge">@ViewBag.diskSpace</span></div>
                            <div>Disk Space Alert</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#space">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.noInfo)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user-times fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.noInfoNw New</span><span class="huge">@ViewBag.noInfo</span></div>
                            <div>No information Alert</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Content(homePath)#noinfo">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-lg-4 col-md-6 alarm_widget">
            <div class="panel panel-@dashCtrlr.setBg(@ViewBag.sync)">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><span class="badge">@ViewBag.syncNw New</span><span class="huge">@ViewBag.sync</span></div>
                            <div>PMS-Station Time Sync</div>
                        </div>
                    </div>
                </div>
                 <a href="@Url.Content(homePath)#sync">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  @*  <div class="row">
        <h3 class="page-header" id="network">
            <span class="text-primary">Total Alarm v Time</span>
        </h3>

        <div class="col-lg-12">
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@*<script type="text/javascript">
  //  var data = [0,@dashCtrlr.getSList()];
  //  var max = '@dashCtrlr.getMax()';
  //  updateGraph(data,max);
</script>
*@
