﻿@using System.Data.SqlClient;
@using CarkparkStationMonitor.Controllers;
@{
   ViewBag.Title = "Status";
   Layout = "~/Views/Shared/_Layout.cshtml";
   SqlDataReader dr;
   var homeCtrlr = (HomeController)this.ViewContext.Controller;
   string all = "_";
}
<div class="row text-right">
    <h5><span class="label label-info ">Time Generated: @ViewBag.genTime</span></h5>
</div>
<div class="container_div" id="network"> 
    <h3 class="page-header" >
        <span class="text-primary">Network Connection</span>
    </h3>

    @{dr = ((HomeController)this.ViewContext.Controller).getInactivePMS(all);}

    <div class="panel-body">
        <div class="table-responsive">
             <table class="table table-striped table-bordered table-hover dataTable" id="dataTableNet" data-id="1004">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>CIP Address</th>
                        <th>Last Seen</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                @if (dr.HasRows)
                {
                    while(dr.Read())
                    {
                        <tr>                  
                            <td>
                                <text>
                                    @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                </text>
                                @dr["CPCODE"]
                            </td>
                            <td>@((String) @dr["IP"])</td>
                            <td>@dr["LASTSEEN"]</td>
                             <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                            </td>
                        </tr>

                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container_div"  id="status"> 
    <h3 class="page-header">
        <span class="text-primary">Station Status</span>
    </h3>

    @{
        ((HomeController)this.ViewContext.Controller).closeConn();
        dr = ((HomeController)this.ViewContext.Controller).getStationStat(all);
    }

    <div class="panel-body">
        <div class="table-responsive">
             <table class="table table-striped table-bordered table-hover dataTable" id="dataTableStat"  data-id="1002">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>CIP Address</th>
                        <th>Station</th>
                        <th>SIP Address</th>
                        <th>Station Clock</th>
                        <th>Status</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                @if (dr.HasRows)
                {
                    while (dr.Read())
                    {
                        <tr>                  
                             <td>
                               <text>
                                    @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                </text>
                                @dr["LINKSERVER_NAME"]
                            </td>
                            <td>@dr["CPIPADDRESS"]</td>
                            <td>@dr["STATION_ID"]</td>
                            <td>@dr["SIPADDRESS"]</td>
                            <td>@dr["CLOCK"]</td>
                            <td>DISCONNECTED</td>
                             <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container_div" id="bad"> 
    <h3 class="page-header" >
        <span class="text-primary">Station Alarm : Barrier Arm Drop</span>
    </h3>
    @{((HomeController)this.ViewContext.Controller).closeConn();}
    @{dr = ((HomeController)this.ViewContext.Controller).getStationAlarm(0,all);}
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTable" id="dataTableAlbad" data-id="1003">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>Station</th>
                        <th>SIP Address</th>
                        <th>Time</th>
                        <th>Alarm Message</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                <td>
                                    <text>
                                        @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["LINKSERVER_NAME"]
                                </td>
                                <td>@dr["STATION_ID"]</td>
                                <td>@dr["SIPADDRESS"]</td>
                                <td>@dr["TIME"]</td>
                                <td>@dr["ALARM_MSG"]</td>
                                <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container_div" id="cpf"> 
    <h3 class="page-header">
        <span class="text-primary">Station Alarm : Car Park Full</span>
    </h3>
    @{((HomeController)this.ViewContext.Controller).closeConn();}
    @{dr = ((HomeController)this.ViewContext.Controller).getStationAlarm(2, all);}
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTable" id="dataTableAlcpf" data-id="1003">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>Station</th>
                        <th>SIP Address</th>
                        <th>Time</th>
                        <th>Alarm Message</th>
                       @* <th>Attended</th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                <td>
                                    <text>
                                        @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["LINKSERVER_NAME"]
                                </td>
                                <td>@dr["STATION_ID"]</td>
                                <td>@dr["SIPADDRESS"]</td>
                                <td>@dr["TIME"]</td>
                                <td>@dr["ALARM_MSG"]</td>
                               @* <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container_div" id="df">
    <h3 class="page-header" >
        <span class="text-primary">Station Alarm : Debit Failure</span>
    </h3>
    @{((HomeController)this.ViewContext.Controller).closeConn();}
    @{dr = ((HomeController)this.ViewContext.Controller).getStationAlarm(3,all);}
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTable" id="dataTableAldf" data-id="1003">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>Station</th>
                        <th>SIP Address</th>
                        <th>Time</th>
                        <th>Alarm Message</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                <td>
                                    <text>
                                        @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["LINKSERVER_NAME"]
                                </td>
                                <td>@dr["STATION_ID"]</td>
                                <td>@dr["SIPADDRESS"]</td>
                                <td>@dr["TIME"]</td>
                                <td>@dr["ALARM_MSG"]</td>
                                <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container_div" id="pop">
    <h3 class="page-header" >
        <span class="text-primary">Station Alarm : Printer out of Paper</span>
    </h3>
    @{((HomeController)this.ViewContext.Controller).closeConn();}
    @{dr = ((HomeController)this.ViewContext.Controller).getStationAlarm(1,all);}
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTable" id="dataTableAlpop" data-id="1003">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>Station</th>
                        <th>SIP Address</th>
                        <th>Time</th>
                        <th>Alarm Message</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                <td>
                                    <text>
                                       @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["LINKSERVER_NAME"]
                                </td>
                                <td>@dr["STATION_ID"]</td>
                                <td>@dr["SIPADDRESS"]</td>
                                <td>@dr["TIME"]</td>
                                <td>@dr["ALARM_MSG"]</td>
                                <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container_div" id="space">
    <h3 class="page-header" >
        <span class="text-primary">Disk Space</span>
    </h3>
    @{
        ((HomeController)this.ViewContext.Controller).closeConn();
        dr = ((HomeController)this.ViewContext.Controller).getSpaceStat(all);
    }

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTable" id="dataTableDs" data-id="1001">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>CIP Address</th>
                        <th>PMS Clock</th>
                        <th>Drive</th>
                        <th>Space</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                <td>
                                    <text>
                                        @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["LINKSERVER_NAME"]
                                </td>
                                <td>@dr["CPIPADDRESS"]</td>
                                <td>@dr["CLOCK"]</td>
                                <td>@dr["DRIVE"]</td>
                                <td>@dr["SPACE"]</td>
                                <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container_div" id="noinfo">

    <h3 class="page-header" >
        <span class="text-primary">No Entry Info</span>
    </h3>
    @{
        ((HomeController)this.ViewContext.Controller).closeConn();
        dr = ((HomeController)this.ViewContext.Controller).getNoEntryInfo(all);
    }
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTable" id="dataTableNe" data-id="1000">
                <thead>
                    <tr>                  
                        <th>Car Park</th>
                        <th>CIP Address</th>
                        <th>PMS Clock</th>
                        <th>Total Entry W/O Info</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                <td>
                                    <text>
                                        @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["LINKSERVER_NAME"]
                                </td>
                                <td>@dr["CPIPADDRESS"]</td>
                                <td>@dr["CLOCK"]</td>
                                <td>@dr["NO_ENTRY_INFO"]</td>
                                <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container_div" id="sync">
    <h3 class="page-header" >
        <span class="text-primary">PMS and Station Sync</span>
    </h3>
    @{
        ((HomeController)this.ViewContext.Controller).closeConn();
        dr = ((HomeController)this.ViewContext.Controller).getStationLatency(all);
    }

    <div class="panel-body">
        <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTable" id="dataTableSync" data-id="1000">
                    <thead>
                        <tr>                  
                            <th>Car Park</th>
                            <th>Station</th>
                            <th>PMS Clock</th>
                            <th>Station Clock</th>
                            <th>Latency (MINS) </th>
                            <th>Attended</th>
                        </tr>
                    </thead> 
                    <tbody>
                    @if (dr.HasRows)
                    {
                        while (dr.Read())
                        {
                            <tr>                  
                                 <td>
                                    <text>
                                       @homeCtrlr.isNewSpan((string)dr["IS_NEW"], "1")
                                    </text>
                                    @dr["CPCODE"]
                                </td>
                                <td>@dr["STATION_ID"]</td>
                                <td>@dr["PMS_TIME"]</td>
                                <td>@dr["DEVICE_TIME"]</td>
                                <td>@dr["LATENCY"]</td>
                                <td class="text-center" data-order="@homeCtrlr.sort(@dr["TASK_STATUS"])"> 
                                    <input type="checkbox" data-id ="@dr["ID"]" @homeCtrlr.isChecked(dr["TASK_STATUS"])>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw fa-ck"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    ((HomeController)this.ViewContext.Controller).closeConn();
}
